<style type="text/css">
<!--
  body { font-family: Verdana,Arial,Helvetica,sans-serif; margin-top: 0px; margin-right: 0px; margin-left: 0px; background-color: <? echo $colors["page_background"] ?> }
  a { text-decoration:none; }
  A:link{ text-decoration:none }
  A:visted{ text-decoration:none }
  A:active{ text-decoration:none }
  .tablink { color: #000000; }
  TABLE { background-color: <? echo $colors["table_background"] ?>; }
  .navtable { background-color: <? echo $colors["page_background"] ?>; }
  TH { font-family: Verdana,Arial,Helvetica,sans-serif; background-color:<? echo $colors["th_background"] ?>; text-align: center; }
  TH A { color:blue; }
  INPUT { font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; height: 20px; }
  SELECT { font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none; height: 20px; }
  .nameinput { width: 120; }
  .techinput { width: 120; }
  .catinput { width: 120; }
  .yesnobutton { width: 40; }
  .checkbox { height: 15; }
//-->
</style>