<style type="text/css">
<!--
  body { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12; margin-top: 0px; margin-bottom: 0px; margin-right: 0px; margin-left: 0px; background-color: #6699ff; }
  a { text-decoration:none; }
  A:link{ text-decoration:none }
  A:visted{ text-decoration:none }
  A:active{ text-decoration:none }
  .tablink { color: #000000; }
  TABLE { background-color: #ffffff; }
  .navtable { background-color: #6699ff; }
  TH { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12; background-color: #ffff99; text-align: center; }
  TH A { color:blue; }
  TH.help { background-color: #e5e5e5; text-align: center; }
  TD { font-size: 12; }
  INPUT { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12; text-decoration: none; height: 20px; }
  SELECT { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12; text-decoration: none; height: 20px; }
  P { margin-top:0; margin-bottom:0; }
  CODE { font-size: 12px; font-family: monospace; color: #660033; }
  .nameinput { width: 120; height: 18; }
  .techinput { width: 120; height: 18; }
  .catinput { width: 180; height: 18; }
  .medianrinput { width: 70; height: 18; }
  .partinput { width: 20; height: 18; }
  .yesnoinput { width: 40; height: 18; }
  .titlebutton { font-weight: bold; background-color: #eaeaea; }
  .namebutton { width: 120; height: 18; background-color: #eaeaea; }
  .techbutton { width: 120; height: 18; background-color: #eaeaea; }
  .catbutton { width: 180; height: 18; background-color: #eaeaea; }
  .medianrbutton { width: 70; height: 18; background-color: #eaeaea; }
  .yesnobutton { width: 40; height: 18; background-color: #eaeaea; }
  .checkbox { height: 15; }
  .multiselect { height: 125; width: 180; }
  .error { color: #ff0000; }
  .ok    { color: #0000ff; }
  .virtual_button { border:1px outset #ffffff; background-color: #d4d0c8; }
//-->
</style>