/******************************************************************************
* Defines default styles for site pages.                                      *
******************************************************************************/

body {
  color: #000;
  margin: 0;
}
a { text-decoration: none; }

/* Menubar */
.fixme {
  position: fixed;
  width: 100%;
}
a.menuButton, a.menuButtonActive, #menuBar {
  border-style: solid;
  color: #000;
  left: 0;
  top: 0;
}
#menuBar {
  border-width: 0;
  background-color: #c0c0c0;
  border-top-color: #f0f0f0;
  border-top-width: 2px;
  border-bottom-color: #909090;
  border-bottom-width: 2px;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 100;
}
a.menuButton, a.menuButtonActive {
  border-width: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #c0c0c0;
  cursor: default;
  font-family: sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  text-decoration: none;
}
a.menuButton:hover {
  border-color: #f0f0f0 #505050 #505050 #f0f0f0;
  border-width: 1px;
  color: #000;
}
a.menuButtonActive, a.menuButtonActive:hover {
  background-color: #909090;
  border-color: #505050 #f0f0f0 #f0f0f0 #505050;
  color: #fff;
  left: 1px;
  top: 1px;
}
.menu {
  background-color: #c0c0c0;
  border-style: solid;
  border-width: 2px;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  padding: 0;
  position: absolute;
  text-align: left;
  visibility: hidden;
  z-index: 101;
}
a.menuItem, .menuText {
  color: #000;
  cursor: default;
  font-family: sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}
a.menuItem {
  display: block;
}
.menuText {
  display: inline;
  text-align:right;
  position: absolute; right: 0; top: 2px; /* top: fix for Konqueror quirk */
}
a.menuItem:hover {
  background-color: #000080;
  color: #fff;
}
.menuItemSep {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #909090;
  margin: 3px 2px 3px 2px;
}
