/******************************************************************************
* Defines default styles for site pages.                                      *
******************************************************************************/

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
}
a { text-decoration: none; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
pre {
  font-family: Courier New, Courier, monospace;
  font-size: 80%;
}
td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
ul { list-style-type: square; }
.footer {
  margin-bottom: 0px;
  text-align: center;
}

/* Boxed table styles */
table.boxed { border-spacing: 2px; }
td.boxed, th.boxed, th.boxedHeader {
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
th.boxed { background-color: #c0c0c0; }
th.boxedHeader {
  background-color: #808080;
  color: #ffffff;
}

/* Menubar */
.fixme {
  position: fixed;
  width: 100%;
}
#menuBar {
  background-color: #c0c0c0;
  border-style: solid;
  border-width: 0px;
  border-top-color: #f0f0f0;
  border-top-width: 2px;
  border-bottom-color: #909090;
  border-bottom-width: 2px;
  color: #000000;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  width: 100%;
  z-index: 100;
}
a.menuButton, a.menuButtonActive {
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  color: #000000;
  cursor: default;
  font-family: "MS Sans Serif", Arial, Tahoma, sans-serif;
  font-size: 11;
  font-style: normal;
  font-weight: normal;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  left: 0px;
  top: 0px;
  text-decoration: none;
}
a.menuButton:hover {
  border-color: #f0f0f0 #505050 #505050 #f0f0f0;
  color: #000000;
}
a.menuButtonActive, a.menuButtonActive:hover {
  background-color: #909090;
  border-color: #505050 #f0f0f0 #f0f0f0 #505050;
  color: #ffffff;
  left: 1px;
  top: 1px;
}
.menu {
  background-color: #c0c0c0;
  border-style: solid;
  border-width: 2px;
  border-top-color: #f0f0f0;
  border-right-color: #909090;
  border-bottom-color: #909090;
  border-left-color: #f0f0f0;
  padding: 0px;
  position: absolute;
  text-align: left;
  visibility: hidden;
  z-index: 101;
}
a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  font-family: "MS Sans Serif", Arial, Tahoma,sans-serif;
  font-size: 11;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}
.menuText {
  color: #000000;
  cursor: default;
  display: inline;
  font-family: "MS Sans Serif", Arial, Tahoma,sans-serif;
  font-size: 11;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  text-align:right;
  position: absolute; right: 0px;
}
a.menuItem:hover {
  background-color: #000080;
  color: #ffffff;
}
.menuItemSep {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #909090;
  margin: 3px 2px 3px 2px;
}
